    {{!-- FOOTER --}}
    <footer class="bg-yellow-800 w-full text-center">
        <p>Authors: Alex, Jalen, Krista, Sarah</p>
        <p><a href="https://github.com/jheckel-dev/halloween-rsvp" target="_blank">Visit the repo!</a></p>
    </footer>