<div class="container attendee-cntr">
    <div class="">
        <h2>
            Attendees:
        </h2>
    </div>
    <div class="">
        <ul>
            {{!-- NEED A LOOP ⭐⭐⭐ --}}

            {{!-- guest.name guest.js --}}
            
            {{!-- costume.js --}}

            {{!-- snack.js --}}

            {{!-- song.js --}}
        </ul>
    </div>
</div>

{{!-- ATTENDEES, GUESTS --}}
{{!-- vs USERS, LOGIN CREDS --}}