<div class="something-container">
    <div class="">
        <h2>
            {{!-- GUEST LIST --}}
        </h2>
    </div>
    <div class="">
        <ul>
            {{!-- NEED A LOOP ⭐⭐⭐ --}}

            {{!-- USER OR GUEST --}}
            {{!-- USER OR GUEST EMAIL --}}
            {{!-- COSTUME / STRING --}}
            {{!-- SNACK / SELECTION? OR STRING? --}}
            {{!-- SONG REQUEST / STRING --}}
        </ul>
    </div>
</div>