<div class="something-container">
    <div class="">
        <h2>
            {{!-- ADMIN VIEW; REGISTERED USER LIST --}}
        </h2>
    </div>
    <div class="">
        <ol>
            {{!-- USER OR GUEST --}}
            {{!-- USER OR GUEST EMAIL --}}
            {{!-- COSTUME / STRING --}}
            {{!-- SNACK / SELECTION? OR STRING? --}}
            {{!-- SONG REQUEST / STRING --}}
        </ol>
    </div>
</div>