{{!-- SIGN UP / REGISTER AN ACCOUNT / INITIAL LOGIN --}}
<div class="container //">
    <div class="//">
        <form action="/signup" method="post">
            <div>
                <label>Username:</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>Email:</label>
                <input type="text" name="email"/>
            </div>    
            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <div>
                <input class="btn button" type="submit" value=""/>
            </div>
        </form>                  
    </div>          
</div>