<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Spooktacular RSVP App">
    <meta name="author" content="Alex, Jalen, Krista, Sarah">
    <title>Halloween RSVP</title>
</head>

<body>
    {{!-- NAV BAR --}}
    <nav class="navbar">
        <div class="">
            <ul class="collapse navbar-collapse" id="">
                <li>{{!-- HOME --}}</li>
                <li>{{!-- CREATE LOGIN // SIGN-UP --}}</li>
                <li>{{!-- GUEST LIST --}}</li>
            </ul>

            <ul class="">
                {{# if loggedin}}
                <li> {{!-- LOGOUT BUTTON --}} </li>
                {{else}}
                <li> {{!-- LOGIN BUTTON --}} </li>
                {{/if}}
            </ul>

        </div>
    </nav>

    {{!-- GUEST // ATTENDEE FORM from "Register"--}}
    <div class="">
        {{!-- {{{ FORM }}} --}}
    </div>

    {{!-- GUEST LIST from "Attendee" --}}
    <div class="">
        {{# if loggedin}}
            {{!-- SHOW REGISTERED GUESTS --}}
        {{else}}
            {{!-- HIDE REGISTERED GUESTS --}}
        {{/if}}
    </div>

    {{!-- FOOTER --}}
    {{!-- const Handlebars = require("handlebars");
const template = Handlebars.compile("Name: {{name}}");
console.log(template({ name: "" })); --}}
    <footer>
        <p>Authors: Alex, Jalen, Krista, Sarah</p>
        <p><a href="https://github.com/jheckel-dev/halloween-rsvp" target="_blank">Visit the repo!</a></p>
    </footer>
</body>