<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Jalen, Krista, Alex, Sarah">
    <title>RSVP</title>
</head>

<body>
    {{!-- NAV BAR --}}
    <nav class="navbar">
        <div class="">
            <ul class="collapse navbar-collapse" id="">
                <li>{{!-- HOME --}}</li>
                <li>{{!-- CREATE LOGIN // SIGN-UP --}}</li>
                <li>{{!-- GUEST LIST --}}</li>
            </ul>

            <ul class="">
                {{# if loggedin}}
                <li> {{!-- LOGOUT BUTTON --}} </li>
                {{else}}
                <li> {{!-- LOGIN BUTTON --}} </li>
                {{/if}}
            </ul>

        </div>
    </nav>

    {{!-- GUEST FORM from "Register"--}}
    <div class="columnA">
        {{!-- {{{ FORM }}} --}}
    </div>

    {{!-- GUEST LIST from "Attendee" --}}
    <div class="columnB">
        {{# if loggedin}}
            {{!-- SHOW REGISTERED GUESTS --}}
        {{else}}
            {{!-- HIDE REGISTERED GUESTS --}}
        {{/if}}
    </div>

    {{!-- FOOTER --}}
    
</body>